.page-not-found {
  height: calc(100vh - 662px);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .page-not-found {
    height: calc(100vh - 382px);
  }
}
