:root {
  --color-principal: #2f59d3;
  --color-secundario: #111827;
  --color-terciario: #bfcdf8;
  --color-letra-hero: #fff;
  --color-success: #66bb6a;
  --color-danger: #dc3545;
  --fuente-principal: "Montserrat", sans-serif;
}
